FACETEC_DEVICE_KEY=dEHioZ0I0AgYkR31G08ToL2kdpN9t6wm
CLIENT_ORIGIN=http://localhost:5173
# Opcional, ya trae este valor por defecto:
# FACETEC_TESTING_API_URL=https://api.facetec.com/api/v4/biometrics/process-request
